html {
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

#title-blocker {
    height: 58px;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 2;
}

#video-container iframe {
    z-index: 1;
    border: none;
}

/* EOF */
/*******/
